@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Science+Gothic:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top, #1f2937, #020617);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

h1 {
  font-family: "Bungee Spice", sans-serif;
  font-size: 40px;
  text-shadow: 0 0 20px rgba(0, 245, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #00f5ff;
  box-shadow: 0 0 20px rgba(0, 245, 255, 0.4);
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

input,
select,
button {
  font-family: "Poppins", sans-serif;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  width: 50%;
  background: transparent;
  color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
}

select option {
  background: rgba(0, 0, 0, 0.8);
  color: #f7f7f7;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

.hero-card {
  font-family: "Poppins", sans-serif;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #00f5ff;
  box-shadow: 0 0 20px rgba(0, 245, 255, 0.4);
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  max-width: 700px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  color: #f7f7f7;
}

.btn {
  font-family: "Poppins", sans-serif;
  padding: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 13px;
  font-weight: bold;
  width: 75%;
  background: #00f5ff;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #00f5ff;
  box-shadow: 0 0 20px rgba(0, 245, 255, 0.4);
}

.btn p {
  font-size: 15px;
  font-weight: 400;
}